.section-wrapper {
	padding-top: 122px;
	max-width: 430px;
}

.title {
	text-transform: uppercase;
	font-family: MarkPro;
	font-size: 54px;
	font-weight: 500;
	line-height: 1.11;
	color: #f9f9fa;
}

.text {
	font-family: Rubik-Light;
	font-size: 16px;
	line-height: 1.5;
	color: #f9f9fa;
	margin: 10px 0px 30px 0px;
}

.google-play {
	width: 154px;
	display: block;
}

.app-store {
	width: 154px;
	display: block;
}

.button {
	display: flex;
}

.anchor {
	display: block;
}

.logo-anch {
	padding: 24px 0px ;
}

.anch {
	margin-right: 20px;
}

.subtitle {
	font-family: MarkPro;
	font-size: 24px;
	line-height: 1.42;
	color: #f9f9fa;
	margin-top: 206px;
}
